# git ignore file


/.config/dotnet-tools.json
specsync.json
error.txt
specsync.lic
**/node_modules
**/cucumber-json
**/screenshots
**/downloads
**/results
**videos

.vs/Code Challenge 2021/v16/.suo
.vs/Code Challenge 2021/v16/.suo
.vs/Code Challenge 2021/v16/.suo
.vs/Code Challenge 2021/v16*/
.vs/slnx.sqlite
*.suo
*.suo
*.sqlite
.vs/Code Challenge 2021/v16/.suo
.vs*/